body {
  font-family: Truculenta;
  background-color: #eef5ff;
}
header {
  text-align: center;
  margin-top: 50px;
}
h1 {
  text-align: center;
}
ul {
  text-align: center;
  list-style: none;
  font-family: Montserrat;
}
small {
  position: relative;
  bottom: 70px;
  left: 480px;
  font-size: 20px;
  font-weight: bold;
  font-family: Montserrat;
}
hr {
  height: 2px;
  background-color: #f7f1af;
}

.inputForm {
  width: 350px;
  height: 35px;
  border-radius: 10px;
  color: #0c0801;
  background-color: rgb(253, 249, 242);
  margin-top: 30px;
  border: 1px solid #e3dffd;
}
.searchForm {
  width: 100px;
  height: 35px;
  border-radius: 10px;
  background-color: whitesmoke;
  border: 1px solid #e3dffd;
  transition: all 300ms ease-in-out;
}
P {
  color: grey;
  margin-left: 20px;
  font-weight: 500;
}
.container {
  width: 670px;
  height: 560px;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  background-color: #f2efe5;
  box-shadow: -1px 29px 85px -6px rgba(227, 227, 17, 0.75);
  -webkit-box-shadow: -1px 29px 85px -6px rgba(227, 227, 17, 0.75);
  -moz-box-shadow: -1px 29px 85px -6px rgba(227, 227, 17, 0.75);
}

footer {
  text-align: center;
  margin-top: 45px;
}
.numberUnit {
  font-size: 50px;
  font-weight: bold;
}
.deg {
  font-size: 20px;
  position: relative;
  top: -20px;
  margin-left: 0;
}
.subNumberUnit {
  margin-right: 17px;
}
.searchForm:hover {
  background-color: wheat;
  color: #ecc55b;
  font-weight: 900;
}
.emoji {
  font-size: 25px;
  margin-left: 5px;
}
.weatherConditions {
  color: #b4b4b8;
  font-weight: 1000;
  font-size: 20px;
}
