body {
  background: rgb(174, 238, 233);
  background: radial-gradient(
    circle,
    rgba(174, 238, 233, 1) 0%,
    rgba(148, 218, 233, 1) 44%
  );
}
header {
  text-align: center;
}
h1 {
  text-align: center;
}
ul {
  text-align: center;
  list-style: none;
}
small {
  position: relative;
  bottom: 70px;
  left: 300px;
  font-size: 20px;
  font-weight: bold;
}
.inputForm {
  width: 250px;
  height: 30px;
  border-radius: 40px;
  color: #0c0801;
  background-color: #e6fffd;
}
.searchForm {
  width: 100px;
  height: 25px;
  border-radius: 10px;
  background-color: #e3dffd;
}
.container {
  width: 500px;
  height: 200px;
  border-radius: 30px;
  display: block;
  margin: 0 auto;
}
footer {
  text-align: center;
  margin-top: 150px;
}
.numberUnit {
  font-size: 50px;
  font-weight: bold;
}
.deg {
  font-size: 20px;
  position: relative;
  top: -20px;
}
